run = "streamlit run app.py"
language = "python3"
modules = ["python-3.11", "postgresql-16"]

[nix]
packages = ["cairo", "catch2", "ffmpeg-full", "fmt", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "muparserx", "nano", "nlohmann_json", "openjpeg", "pkg-config", "poppler_utils", "qhull", "spdlog", "tcl", "tk", "zlib"]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GUARDIAN App"

[[workflows.workflow]]
name = "GUARDIAN App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "streamlit run app.py --server.port 5000"]
